/*
 * Definitions
 */
$photos-caption-size: 1rem;
$photos-font-light: #ccc;
$photos-font-dark: #222;

/*
 * Imports
 */
@import 'animated_page';

/*
 * Styles
 */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

h1, h2, h3 {
  margin: 10px;
}

.home {
}

.cover {
  .title {
    color: #8c4623;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.image {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.caption {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: $photos-caption-size;

  p {
    color: $photos-font-light;
    background-color: $photos-font-dark;
    padding: 2px;
  }

  p.dark {
    color: $photos-font-dark;
    background-color: $photos-font-light;
  }

  p.hide {
    display: none;
  }
}

.diashow {
  position: fixed;
  right: 1rem;
  transform: translate(-50%, 0);
  top: $photos-caption-size;
  color: $photos-font-light;

  span {
    opacity: 0;
    font-size: 2rem;
  }
  span:hover {
    opacity: 1;
  }
}
